*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #00A4CCFF;
}
.dateTime{
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    padding: 15px 10px;
    border: 3px solid #F95700FF;
    border-radius: 5px;
    background-color: #0f024b;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.1));
    transition: 0.2s;
    transition-property: background, box-shadow;
}
.dateTime:hover{
    background: #0f024b;
    box-shadow: 0 0 30px #0b1161;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #F95700FF;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}
.container{
    width: 400px;
    height: 500px;
    background-color: #F95700FF;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-top: 60px;
    border: 3px solid #0f024b;
    box-shadow: 0 0 30px #0b1161;
}
.container:hover{
    background: #F95700FF;
    box-shadow: 0 0 30px #0b1161
     
}

.container h1{
    font-family: cursive;
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
    font-weight: 800;
    color: whitesmoke;
}
 label{
     padding: 10px;
     margin: 5px;
 }
 .billBox{
     align-items: center;
     margin: 20px;
     padding: 15px;
     color: white;
 }

 input{
     font-size: 15px;
     border-radius: 5px;
     padding: 5px;
     margin: 5px 10px;
     border: turquoise;
 }
 input::placeholder{
    color: #d1d1da;
    align-self: center;
    
 }
 button{
     height: 50px;
     width: 310px;
     background: #0b1161;
     font-size: 20px;
     border: none;
     color: white;
     margin-top: 18px;
     border-radius: 5px;
 }
 button:hover{
     cursor: pointer;
     color:#ffffff;
     background-color: rgb(19, 7, 63);
 }
